{% extends "public/base.html" %}
{% block title %}Developers{% endblock %}
{% block content %}
    {% include "components/navigation-green.html" %}
    <section class="w-full bg-emerald-950 md:py-24 py-10 text-white">
        <div class="max-w-7xl mx-auto space-y-1 p-4">
            <h6 class="font-light text-emerald-200/70 uppercase tracking-tight md:text-base text-sm">Built by Ayala Land</h6>
            <h1 class="md:text-5xl text-4xl font-semibold tracking-tight">Explore Our Residential Brands</h1>
            <p class="text-emerald-200/80 max-w-2xl md:text-base text-sm">Discover Ayala Land’s residential brands, each designed to serve different lifestyles. From practical starter homes to premium urban communities and investment opportunities.</p>
        </div>
    </section>

    <section class="w-full py-16">
        <div class="max-w-7xl mx-auto p-4">
            <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
                {% for developer in developers %}
                <a href="{{ url_for('estate_core.property_listing', developer=developer.name) }}" class="w-full h-[600px] bg-cover bg-center border border-gray-100 rounded-lg shadow-lg" style="background-image: url('{{ url_for('media.serve_media', filename=developer.logo) }}')">
                    <div class="w-full h-full bg-gradient-to-t from-zinc-800 to-transparent hover:from-zinc-950 transition duration-300 ease-in-out rounded-lg">
                        <div class="h-full flex flex-col p-4">
                            <div class="mt-auto space-y-1">
                                <h2 class="text-white font-semibold text-lg">{{ developer.name }}</h2>
                                <p class="text-white text-sm">{{ developer.short_description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    
    {% include "components/footer.html" %}
{% endblock %}